<!-- Begin Schedule Section -->
<section id="schedule" class="schedule">
    <div class="content-wrapper text-left">
        <div class="col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
            <h2 class="lead">TBD</h2>
            <p class="lead">The program will be determined at a later date. For now, you can watch some previous talks at our <a href="https://www.youtube.com/channel/UCYdQZ9egzBoszApB4ksjE3g/playlists">YouTube channel</a> </p>
        </div>
    </div>
</section>
<!-- End Schedule Section -->
