<!-- Begin Schedule Section -->
<section id="schedule" class="schedule">
    <div class="content-wrapper text-left">
        <div class="col-md-8 col-sm-8 col-lg-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
        <h2>Program of RECOMB-seq 2025</h2>

<p>&nbsp;</p>
<h2>April 24th, Thursday</h2>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: left;">
      <td><b>Time/Day</b></td>
      <td><b>Event</b></td>
      <td><b>Speaker/Details</b></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>8:30-9:30</td>
      <td><b>Registration</b></td>
      <td>The Commons, Yonsei University</td>
    </tr>
    <tr>
      <td>9:25-9:30</td>
      <td><b>Opening</b></td>
      <td></td>
    </tr>
    <tr>
      <td>9:30-10:30</td>
      <td><b>Keynote 1: From Petabytes to Insights: Scaling Sequence Bioinformatics with Logan</b></td>
      <td>Rayan Chikhi</td>
    </tr>
    <tr>
      <td>10:30-10:45</td>
      <td><b>Coffee break</b></td>
      <td></td>
    </tr>
    <tr>
      <td><b>Session 1: Long talks - Proceedings </b></td>
      <td>Alignment-Free Detection of Differences Between Sequencing Data Sets [Proceedings]</td>
      <td></td>
    </tr>
    <tr>
      <td>10:45-11:10</td>
      <td>Tile-X: A vertex reordering approach for scalable long read assembly [Proceedings]</td>
      <td></td>
    </tr>
    <tr>
      <td>11:10-11:35</td>
      <td>Run-length compressed metagenomic read classification with SMEM-finding and tagging [Proceedings]</td>
      <td></td>
    </tr>
    <tr>
      <td>11:35-12:00</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>12:00-13:30</td>
      <td><b>Lunch / Poster viewing</b></td>
      <td></td>
    </tr>
    <tr>
      <td><b>Session 2: Short talks<b/></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>13:30-13:40</td>
      <td>Metrics Matter: Why We Need to Stop Using Silhouette in Single-Cell Benchmarking</td>
      <td></td>
    </tr>
    <tr>
      <td>13:40-13:50</td>
      <td>      Full length isoform reconstruction in single cell data</td>
      <td></td>
    </tr>
    <tr>
      <td>13:50-14:00</td>
      <td>      Masked superstrings as a compact, indexable, and dynamic representation of unconstrained k-mer sets</td>
      <td></td>
    </tr>
    <tr>
      <td>14:00-14:10</td>
      <td>      Automated Annotation of Satellite DNA</td>
      <td></td>
    </tr>
    <tr>
      <td>14:10-14:30</td>
      <td><b>Break</b></td>
      <td></td>
    </tr>
    <tr>
      <td><b>Session 3: Short talks</b></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>14:30-14:40</td>
      <td>      b-move: Faster Lossless Approximate Pattern Matching in a Run-Length Compressed Index	</td>
      <td></td>
    </tr>
    <tr>
      <td>14:40-14:50</td>
      <td>      strangepg: Toward Pangenome Scale Graph Visualization	</td>
      <td></td>
    </tr>
    <tr>
      <td>14:50-15:00</td>
      <td>      Improved variant calling via latent breakpoint graphs	</td>
      <td></td>
    </tr>
    <tr>
      <td>15:00-15:10</td>
      <td>      A Novel K-mer Masking Approach for Improving Specificity in Metagenomic Pathogen Detection	</td>
      <td></td>
    </tr>
    <tr>
      <td>15:10-16:30</td>
      <td><b>Posters</b></td>
      <td></td>
    </tr>
    <tr>
      <td><b>Session 4: Long talks - Overlay</b></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>16:30-16:55</td>
      <td>DeepMM: Identify and correct Metagenome Misassemblies with deep learning [Overlay]</td>
      <td></td>
    </tr>
    <tr>
      <td>16:55-17:20</td>
      <td>GPU-accelerated homology search with MMseqs2 [Overlay]</td>
      <td></td>
    </tr>
    <tr>
      <td>17:20-17:45</td>
      <td>On the Coverage Required for Diploid Genome Assembly [Overlay]</td>
      <td></td>
    </tr>
    <tr>
      <td>17:45:00</td>
      <td><b>Satellites reception</b></td>
      <td></td>
    </tr>
  </tbody>
</table>

<br><br>

<h2>April 25th, Friday</h2>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: left;">
      <td><b>Time/Day</b></td>
      <td><b>Event</b></td>
      <td><b>Speaker/Details</b></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>8:30-9:30</td>
      <td><b>Registration</b></td>
      <td>The Commons, Yonsei University</td>
    </tr>
    <tr>
      <td>9:25-9:30</td>
      <td><b>Opening</td></td>
      <td></td>
    </tr>
    <tr>
      <td>9:30-10:30</td>
      <td><b>Keynote 2: Single cells and long reads: Transcriptomes at exquisite resolution</b></td>
      <td>Alicia Oshlack</td>
    </tr>
    <tr>
      <td>10:30-10:45</td>
      <td><b>Coffee break</b></td>
      <td></td>
    </tr>
    <tr>
      <td><b>Session 5: Long talks - Proceedings</b></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>10:45-11:10</td>
      <td>Decoding the causal drivers of spatial cellular topology  [Proceedings]</td>
      <td></td>
    </tr>
    <tr>
      <td>11:10-11:35</td>
      <td>Efficient trace reconstruction in DNA storage systems using Bidirectional Beam Search [Proceedings]</td>
      <td></td>
    </tr>
    <tr>
      <td>11:35-12:00</td>
      <td>Decoupling Hi-C matrices with non-negative matrix factorization to reveal assorted TADs [Proceedings]</td>
      <td></td>
    </tr>
    <tr>
      <td>12:00-13:30</td>
      <td><b>Lunch / Poster viewing</b></td>
      <td></td>
    </tr>
    <tr>
      <td><b>Session 6: Short talks</b></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>13:30-13:40</td>
      <td>      Pre-Training Dataset Deduplication Improves Genomic LLMs</td>
      <td></td>
    </tr>
    <tr>
      <td>13:40-13:50</td>
      <td>      Edgecopy: Accurate CNV calling in duplicated genes using whole-exome sequencing</td>
      <td></td>
    </tr>
    <tr>
      <td>13:50-14:00</td>
      <td>      Vizitig: context-rich exploration of sequencing datasets</td>
      <td></td>
    </tr>
    <tr>
      <td>14:00-14:10</td>
      <td>      Inverted colored de Bruin Graph for practical kmer set storage</td>
      <td></td>
    </tr>
    <tr>
      <td>14:10-14:30</td>
      <td><b>Break</b></td>
      <td></td>
    </tr>
    <tr>
      <td><b>Session 7: Short talks</b></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>14:30-14:40</td>
      <td>      Reindeer2: practical abundance index at scale				</td>
      <td></td>
    </tr>
    <tr>
      <td>14:40-14:50</td>
      <td>      Multi-sample, multi-platform isoform quantification using empirical Bayes			</td>
      <td></td>
    </tr>
    <tr>
      <td>14:50-15:00</td>
      <td>      Efficient algorithm for resolving scenarios of Complex Chromosomal Rearrangements			</td>
      <td></td>
    </tr>
    <tr>
      <td>15:00-15:10</td>
      <td>      De Bruijn Graphs for Pangenomics: In-depth Performance Benchmarking of de Bruijn Graph-Based Tools for Read Mapping		</td>
      <td></td>
    </tr>
    <tr>
      <td>15:10-16:30</td>
      <td><b>Posters</b></td>
      <td></td>
    </tr>
    <tr>
      <td><b>Session 8: Long talks - Overlay</b></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>16:30-16:55</td>
      <td>Pangenome graph augmentation from unassembled long reads [Overlay]</td>
      <td></td>
    </tr>
    <tr>
      <td>16:55-17:20</td>
      <td>De novo clustering of extensive long-read transcriptome datasets with isONclust3 [Overlay]</td>
      <td></td>
    </tr>
    <tr>
      <td>17:20-17:45</td>
      <td>Multi-context seeds enable fast and high-accuracy read mapping [Overlay]</td>
      <td></td>
    </tr>
    <tr>
      <td>17:45:00</td>
      <td><b>RECOMB reception</b></td>
      <td></td>
    </tr>
  </tbody>
</table>



<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>





		<h4>Accepted Papers to the Proceedings Track</h4>

		<ul style="list-style-type: disc;">
		<li>Alessia Petescia, Luca Denti, Askar Gafurov, Viktória Hodorová, Jozef Nosek, Broňa Brejová and Tomas Vinar	Alignment-Free Detection of Differences Between Sequencing Data Sets</li>
		<li>Oieswarya Bhowmik and Ananth Kalyanaraman	Tile-X: A vertex reordering approach for scalable long read assembly</li>
		<li>Prannav Shankar, Huan Liang, Uthsav Chitra and Rohit Singh 	Decoding the causal drivers of spatial cellular topology </li>
		<li>Zhenhao Gu, Hongyi Xin, Puru Sharma, Gary Yipeng Goh, Limsoon Wong and Niranjan Nagarajan	Efficient trace reconstruction in DNA storage systems using Bidirectional Beam Search</li>
		<li>Zhao Ling, Shi Ying Li, Jingwan Wang, Xikang Feng, Bowen Tan and Shuai Cheng Li	Decoupling Hi-C matrices with non-negative matrix factorization to reveal assorted TADs </li>
		</ul>
		
		<h4>Accepted Papers to the Overlay Track</h4>
		<ul style="list-style-type: disc;">
		<li>Alexander Petri and Kristoffer Sahlin	De novo clustering of extensive long-read transcriptome datasets with isONclust3</li>
		<li>Ivan Tolstoganov, Marcel Martin and Kristoffer Sahlin	Multi-context seeds enable fast and high-accuracy read mapping</li>
		<li>Lore Depuydt, Omar Y. Ahmed, Jan Fostier, Ben Langmead and Travis Gagie	Run-length compressed metagenomic read classification with SMEM-finding and tagging</li>
		<li>Felix Kallenborn, Alejandro Chacon, Christian Hundt, Hassan Sirelkhatim, Kieran Didi, Sooyoung Cha, Christian Dallago, Milot Mirdita, Bertil Schmidt and Martin Steinegger	GPU-accelerated homology search with MMseqs2</li>
		<li>Yi Ding, Jin Xiao, Bohao Zou and Lu Zhang	DeepMM: Identify and correct Metagenome Misassemblies with deep learning</li>
		<li>Daanish Mahajan, Chirag Jain and Navin Kashyap	On the Coverage Required for Diploid Genome Assembly </li>
		<li>Luca Denti, Paola Bonizzoni, Brona Brejova, Rayan Chikhi, Thomas Krannich, Tomas Vinar and Fereydoun Hormozdiari	Pangenome graph augmentation from unassembled long reads </li>
		</ul>

		<h4>Accepted Short Talks</h4>
		<ul style="list-style-type: disc;">
		<li>Pia Rautenstrauch and Uwe Ohler	Metrics Matter: Why We Need to Stop Using Silhouette in Single-Cell Benchmarking</li>
		<li>Marie Van Hecke, Koen Deserranno, Elise Callens, Filip Van Nieuwerburgh and Kathleen Marchal	Full length isoform reconstruction in single cell data</li>
		<li>Ondřej Sladký, Pavel Veselý and Karel Brinda	Masked superstrings as a compact, indexable, and dynamic representation of unconstrained k-mer sets</li>
		<li>Alexander Sweeten, Adam Phillippy and Michael Schatz	Automated Annotation of Satellite DNA</li>
		<li>Lore Depuydt, Luca Renders, Simon Van de Vyver, Lennart Veys, Travis Gagie and Jan Fostier	b-move: Faster Lossless Approximate Pattern Matching in a Run-Length Compressed Index</li>
		<li>Konstantinn Bonnet and Tobias Marschall	strangepg: Toward Pangenome Scale Graph Visualization</li>
		<li>Megan Le, Lillian Zhang, Can Koçkan, Barış Ekim, Houlin Yu, Brian Haas, Aziz Al'Khafaji, Bonnie Berger and Victoria Popic	Improved variant calling via latent breakpoint graphs</li>
		<li>Junqiong Qiu, Seungmo Lee, Vivek Agarwal and William O'Brien	A Novel K-mer Masking Approach for Improving Specificity in Metagenomic Pathogen Detection</li>
		<li>Mahler Revsine, Daniel Khashabi and Michael Schatz	Pre-Training Dataset Deduplication Improves Genomic LLMs</li>
		<li>Sang Yoon Byun and Vikas Bansal	Edgecopy: Accurate CNV calling in duplicated genes using whole-exome sequencing</li>
		<li>Bastien Degardins, Charles Paperman and Camille Marchet	Vizitig: context-rich exploration of sequencing datasets</li>
		<li>Timothé Rouzé, Rayan Chikhi and Antoine Limasset	Inverted colored de Bruin Graph for practical kmer set storage</li>
		<li>Yohan Hernandez Courbevoie, Mikaël Salson, Chloé Bessière, Haoliang Xue, Daniel Gautheret, Camille Marchet and Antoine Limasset	Reindeer2: practical abundance index at scale</li>
		<li>Arghamitra Talukder, Shree Thavarekere, Madison Mehlferber, Gloria M Sheynkman and David A. Knowles	Multi-sample, multi-platform isoform quantification using empirical Bayes</li>
		<li>Zülal Bingöl, Berkan Şahin, Konstantina Koliogeorgi, Ricardo Roman-Brenes, Klea Zambaku, Can Firtina, Onur Mutlu and Can Alkan	De Bruijn Graphs for Pangenomics: In-depth Performance Benchmarking of de Bruijn Graph-Based Tools for Read Mapping</li>
		<li>Barbara Poszewiecka, Krzysztof Gogolewski and Anna Gambin	Efficient algorithm for resolving scenarios of Complex Chromosomal Rearrangements</li>
		</ul>


		<h4>Accepted Posters</h4>
		<ul style="list-style-type: disc;">
		<li>Accelerating gkm-SVM Training Through GPU Implementation</li>
		<li>Identifying Potential Therapeutic Targets for Heart Failure through Systematic Transcriptome Analysis</li>
<li>Population-specific and universal molecular features of skeletal muscle aging: Comparative transcriptome analysis of Korean and GTEx datasets</li>
<li>Unlocking Hidden Protein Functions with a Biochemically Informed Annotation Strategy</li>
<li>Unraveling miRNA-seq data: a statistical framework to account for competition for expression towards accurate differential expression analysis</li>
<li>Systematic evaluation of dimensionality reduction methods for capturing transcriptomic signatures responding to drug treatments</li>
<li>GreedyMini: Generating low-density DNA minimizers</li>
<li>GPU-accelerated homology search with MMseqs2</li>
<li>strangepg: Toward Pangenome Scale Graph Visualization</li>
<li>Vizitig: context-rich exploration of sequencing datasets</li>
<li>Identifying gene-environment interactions for cancer incidence using epigenomic profiles</li>
<li>stDyer enables spatial domain clustering with dynamic graph embedding</li>
		</ul>

		</div>
	</div>

</section>
<!-- End Schedule Section -->


